<!-- <h2>{{title}}</h2>


<input type="text"  [(ngModel)]="name">
<p>{{name}}</p>

My nmae is {{myName}} -->

<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>I am in app component</p>
            <app-servers></app-servers>
            <!-- <div app-servers ></div> -->
            <!-- <div class="app-servers"></div> -->
            <!-- <app-sucess-alert></app-sucess-alert>
            <app-Warning-alert></app-Warning-alert> -->
            <!-- <app-server></app-server> -->
        </div>
    </div>
</div>


